body{
   background-image: url("img/visualwp.png");
   background-size: cover;
   background-attachment: fixed;
   margin:0;
 }
 main{
   height: 100%;
   display: flex;
   justify-content: space-between;
 }
 header{
   background-color: rgba(161, 85, 184, 0.1);
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   color: #A155B8;
   font-family: Consolas,monaco,monospace;
 }
 menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
 }
 menu li{
  padding: 10px;
 }
 menu a:link{
  color: #A155B8;
  text-decoration: none;
  font-family: Consolas,monaco,monospace;
 }
 menu a:visited {
  color: #A155B8;
  font-family: Consolas,monaco,monospace;
}
menu a:hover {
 color: white;
 font-family: Consolas,monaco,monospace;
}

menu a:active {
  color: #A155B8;
  font-family: Consolas,monaco,monospace;
}
 footer{
  margin-top: 100px;

 }
 .gauche{
   max-width: 500px;
   margin-left: 20px;
   font-family: Consolas,monaco,monospace;

 }
 .droite{
   max-width: 500px;
   margin-right: 20px;
   font-family: Consolas,monaco,monospace;
}
 .screenshots{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #A155B8;
  border-radius: 10px;
  color: white;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
 }
.screenshots p{
  font-size: 15px;
 }
.screenshots h1{
  font-size: 30px;
 }
.screenshots img{
  border-radius: 10px;
  width: 200px;
  height: 100px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.screenshots img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.social{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #A155B8;
  border-radius: 10px;
  color: white;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
 }
.social p{
  font-size: 15px;
 }
.social h1{
  font-size: 30px;
 }
.social img{
  border-radius: 10px;
  width: 75px;
  height: 75px;
-webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social img:hover{
 -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.download{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #A155B8;
  border-radius: 10px;
  color: white;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
 }
.download p{
  font-size: 15px;
 }
.download h1{
  font-size: 30px;
 }
.download img{
  border-radius: 10px;
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.download img:hover{
   -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
 .description{
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #A155B8;
  border-radius: 10px;
  color: white;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
 }
  .description p{
  font-size: 15px;
 }
  .description h1{
  font-size: 30px;
 }
 