body{
   background-image: url("img/netbeanswp.jpg");
   background-attachment: fixed;
   background-size: cover;
   background-position: top right;
   margin:0;
   display: flex;
   justify-content: space-between;
 }
 main{
   max-width: 650px;
   display: flex;
   flex-direction: column;
   margin-left: 20px;
 }
 menu{
   margin: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgba(130, 179, 205, 0.1);
   padding: 10px;
   color: white;
   font-family: Brush Script MT,cursive; 
 }
 menu ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
 }
 menu li{
  padding: 10px;
 }
 menu a:link{
  color: white;
  text-decoration: none;
  font-family: Brush Script MT,cursive; 
 }
 menu a:visited {
  color: white;
  font-family: Brush Script MT,cursive; 
}
menu a:hover {
 color: #82B3CD;
 font-family: Brush Script MT,cursive; 
}

menu a:active {
  color:  white;
  font-family: Brush Script MT,cursive; 
}
 .screenshots{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #82B3CD;
  border-radius: 10px;
  color: #82B3CD;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
 }
.screenshots p{
  font-size: 15px;
 }
.screenshots h1{
  font-size: 30px;
 }
.screenshots img{
  border-radius: 10px;
  width: 200px;
  height: 100px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.screenshots img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.social{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #82B3CD;
  border-radius: 10px;
  color: #82B3CD;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
 }
.social p{
  font-size: 15px;
 }
.social h1{
  font-size: 30px;
 }
.social img{
  border-radius: 10px;
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.social img:hover{
 -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.download{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #82B3CD;
  border-radius: 10px;
  color:  #82B3CD;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
 }
.download p{
  font-size: 15px;
 }
.download h1{
  font-size: 30px;
 }
.download img{
  border-radius: 10px;
  width: 75px;
  height: 75px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.download img:hover{
   -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
 .description{
  margin-top: 20px;
  background-color: rgba(255,255,255,0.1);
  padding: 10px;
  max-width: 800px;
  border: solid;
  border-color: #82B3CD;
  border-radius: 10px;
  color: #82B3CD;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
 }
  .description p{
  font-size: 15px;
  color: white;
 }
  .description h1{
  font-size: 30px;
 }
 